.cart .cart_cn {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 50px auto;
  max-width: 90%;
  gap: 15px;
}
.cart .cart_cn .cart_items_section {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: 2;
  max-height: 600px;
  overflow: auto;
  scrollbar-gutter: stable;
}
.cart .cart_cn .cart_items_section table tbody:empty {
  background-color: #d10024;
  content: "no Items are added Yet!";
  width: 200px;
}
.cart .cart_cn .cart_items_section table {
  width: 100%;
}
.cart .cart_cn .cart_items_section table thead tr,
.cart .cart_cn .cart_items_section table thead th {
  padding: 0.5rem;
}
.cart .cart_cn .cart_items_section table thead .label_header_cn {
  width: 100%;
  vertical-align: text-top;
}
.cart .cart_cn .cart_items_section table thead th:first-child {
  text-align: start;
}
.cart .cart_cn .cart_items_section tbody {
  flex: 3;
}
.cart .cart_cn .cart_items_section tbody:empty {
  content: "no Items are added Yet!";
  width: 200px;
}
.cart .cart_cn .cart_items_section tbody tr.cards_row td {
  text-align: center;
  border-bottom: 2px solid #e2e2e2;
  border-collapse: collapse;
  padding: 0.5rem;
  width: 300px;
}
.cart .cart_cn .cart_items_section tbody tr.cards_row td .card_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  width: inherit;
  align-items: center;
  gap: 15px;
}
.cart .cart_cn .cart_items_section tbody tr.cards_row td .card_list .cardImg_cn img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart .cart_cn .cart_items_section tbody tr.cards_row td .card_list .cart_item_info_cn {
  max-width: 100px;
}
.cart .cart_cn .cart_items_section tbody tr.cards_row td .card_list .cart_item_info_cn h4 {
  font-weight: 300;
  font-size: small;
}
.cart .cart_cn .cart_items_section tbody tr.cards_row .item_quantity_cn .quantity-btn {
  color: grey;
  border: 1px solid #e2e2e2;
  padding: 5px 10px;
  cursor: context-menu;
  font-size: small;
}
.cart .cart_cn .cart_items_section tbody tr.cards_row .item_quantity_cn .symbol-btn {
  border: 1px solid #e2e2e2;
  padding: 5px 10px;
  font-size: small;
}
.cart .cart_cn .cart_items_section tbody tr.cards_row .item_quantity_cn .symbol-btn:hover {
  color: #d10024;
}
.cart .cart_cn .cart_items_section tbody tr.cards_row .item_remove_cn .remove_item_btn:hover {
  color: #d10024;
}
.cart .cart_form_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 30%;
  flex: 1;
  background-color: #f6f6f6;
  padding: 10px;
  gap: 10px;
}
.cart .cart_form_section .summary_div {
  border-bottom: 1px solid #dedede;
  text-align: center;
}
.cart .cart_form_section .summary_div h1 {
  font-weight: 600;
  letter-spacing: 1px;
  font-family: monospace;
}
.cart .cart_form_section .ship_details_pt1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
}
.cart .cart_form_section .ship_details_pt2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 20px;
}
.cart .cart_form_section .ship_details_pt2 .ship_input {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
}
.cart .cart_form_section .ship_details_pt2 .ship_input #shipping_select {
  height: 35px;
}
.cart .cart_form_section .ship_details_pt2 .ship_input input,
.cart .cart_form_section .ship_details_pt2 .ship_input select {
  height: 30px;
  border: 1px solid rgb(200, 197, 197);
}
.cart .cart_form_section .ship_details_pt2 .ship_input input:focus,
.cart .cart_form_section .ship_details_pt2 .ship_input select:focus {
  outline: 1px solid grey;
}
.cart .cart_form_section .ship_details_pt3, .cart .cart_form_section .ship_details_pt4, .cart .cart_form_section .ship_details_pt5 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
}
.cart .cart_form_section .details_label {
  font-weight: 600;
}
.cart .cart_form_section .checkout_div {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 20px;
}
.cart .cart_form_section .checkout_div .checkout_btn {
  width: 80%;
  border: transparent;
  background-color: #d10024;
  border-radius: 6px;
  padding: 10px;
  color: white;
  font-weight: 400;
}
.cart .cart_form_section .checkout_div .checkout_data_container .cart_checkout_img {
  display: none;
}
@media screen and (max-width: 600px) {
  .cart .cart_cn {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 50px auto;
    max-width: 90%;
    gap: 15px;
  }
  .cart .cart_cn .cart_items_section {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 2;
    max-height: 600px;
    overflow: auto;
    scrollbar-gutter: stable;
  }
  .cart .cart_cn .cart_items_section table tbody:empty {
    background-color: #d10024;
    content: "no Items are added Yet!";
    width: 200px;
  }
  .cart .cart_cn .cart_items_section table {
    width: 100%;
  }
  .cart .cart_cn .cart_items_section table thead tr,
  .cart .cart_cn .cart_items_section table thead th {
    padding: 0.5rem;
  }
  .cart .cart_cn .cart_items_section table thead .label_header_cn {
    width: 100%;
    vertical-align: text-top;
  }
  .cart .cart_cn .cart_items_section table thead th:first-child {
    text-align: start;
  }
  .cart .cart_cn .cart_items_section tbody {
    flex: 3;
  }
  .cart .cart_cn .cart_items_section tbody:empty {
    content: "no Items are added Yet!";
    width: 200px;
  }
  .cart .cart_cn .cart_items_section tbody tr.cards_row td {
    text-align: center;
    border-bottom: 2px solid #e2e2e2;
    border-collapse: collapse;
    padding: 0.5rem;
    width: 300px;
  }
  .cart .cart_cn .cart_items_section tbody tr.cards_row td .card_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    width: inherit;
    align-items: center;
    gap: 15px;
  }
  .cart .cart_cn .cart_items_section tbody tr.cards_row td .card_list .cardImg_cn img {
    width: 60px;
    height: 60px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .cart .cart_cn .cart_items_section tbody tr.cards_row td .card_list .cart_item_info_cn {
    max-width: 100px;
  }
  .cart .cart_cn .cart_items_section tbody tr.cards_row td .card_list .cart_item_info_cn h4 {
    font-weight: 300;
    font-size: small;
  }
  .cart .cart_cn .cart_items_section tbody tr.cards_row .item_quantity_cn .quantity-btn {
    color: grey;
    border: 1px solid #e2e2e2;
    padding: 5px 10px;
    cursor: context-menu;
    font-size: small;
  }
  .cart .cart_cn .cart_items_section tbody tr.cards_row .item_quantity_cn .symbol-btn {
    border: 1px solid #e2e2e2;
    padding: 5px 10px;
    font-size: small;
  }
  .cart .cart_cn .cart_items_section tbody tr.cards_row .item_quantity_cn .symbol-btn:hover {
    color: #d10024;
  }
  .cart .cart_cn .cart_items_section tbody tr.cards_row .item_remove_cn .remove_item_btn:hover {
    color: #d10024;
  }
  .cart .cart_form_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 30%;
    flex: 1;
    background-color: #f6f6f6;
    padding: 10px;
    gap: 10px;
  }
  .cart .cart_form_section .summary_div {
    border-bottom: 1px solid #dedede;
    text-align: center;
  }
  .cart .cart_form_section .summary_div h1 {
    font-weight: 600;
    letter-spacing: 1px;
    font-family: monospace;
    font-size: 18px;
  }
  .cart .cart_form_section .ship_details_pt1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
  }
  .cart .cart_form_section .ship_details_pt2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 20px;
  }
  .cart .cart_form_section .ship_details_pt2 .ship_input {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
  }
  .cart .cart_form_section .ship_details_pt2 .ship_input #shipping_select {
    height: 35px;
  }
  .cart .cart_form_section .ship_details_pt2 .ship_input input,
  .cart .cart_form_section .ship_details_pt2 .ship_input select {
    height: 30px;
    width: 100%;
    border: 1px solid rgb(200, 197, 197);
  }
  .cart .cart_form_section .ship_details_pt2 .ship_input input:focus,
  .cart .cart_form_section .ship_details_pt2 .ship_input select:focus {
    outline: 1px solid grey;
  }
  .cart .cart_form_section .ship_details_pt3, .cart .cart_form_section .ship_details_pt4, .cart .cart_form_section .ship_details_pt5 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
  }
  .cart .cart_form_section .details_label {
    font-weight: 600;
  }
  .cart .cart_form_section .checkout_div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 20px;
  }
  .cart .cart_form_section .checkout_div .checkout_btn {
    width: -moz-fit-content;
    width: fit-content;
    border: transparent;
    background-color: #d10024;
    border-radius: 6px;
    padding: 10px;
    color: white;
    font-weight: 400;
    font-size: 16px;
  }
  .cart .cart_form_section .checkout_div .checkout_data_container .cart_checkout_img {
    display: none;
  }
}/*# sourceMappingURL=cart.css.map */