@import "../../../scss_variables/variables";

// .footer {
//   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
//     "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
//   background-color: #d10024;
//   color: white;
//   .footer_container {
//     margin: 0 20px;
//     .items_div {
//       @include flex(flex, center, nowrap, row);
//       word-wrap: break-word;
//       .firstDiv {
//       @include flex(flex, center, nowrap, column);
//         line-height: 25px;
//         max-height: 100%;
//         flex: 1;
//         // padding-left: 20px;
//       }

//       .secondDiv {
//       @include flex(flex, unset, nowrap, column);
//         margin: 0;
//         align-items: center;
//         max-height: 100%;

//         flex: 1;
//         // padding-left: 80px;

//         .footer_list {
//           list-style: none;

//           .footer_item {
//             padding-top: 5px;
//             .footer_linktag {
//               color: white;
//               text-decoration: none;
//               transition: ease-in-out 1s;
//               &:hover {
//                 color: dimgrey;
//               }
//             }
//           }
//         }
//       }
//       .thirdDiv {
//       @include flex(flex, unset, nowrap, column);
//         text-align: center;
//         max-height: 100%;

//         flex: 1;
//       }
//     }
//   }
// }
.footer {
  ont-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-top: 2px solid #e2e2e2;
  background-color: #d10024;

  .footerSn {
    @include flex(flex, center, nowrap, row);
    padding: 10px 5px;
    gap: 10px;
    .siteDesc_block {
      @include flex(flex, center, nowrap, row);
      align-items: center;
      color: #f8f9fa;
      flex: 1;
      line-height: 24px

    }
    .footerIcon_block {
      @include flex(flex, center, nowrap, column);
      flex: 1;
      width: fit-content;
      align-items: center;
      // background-color: #f8f9fa;
      // background-color: black;
      // border: 2px solid #e2e2e2;
      margin: 0px auto;
      padding: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .iconCn_cn {
        @include flex(flex, center, nowrap, row);
        gap: 6px;
        background-color: white;
        border-radius: 6px;
        padding: 5px;
        .links {
        @include flex(flex, center, nowrap, row);
          align-items: center;
          .footer_icon {
            font-size: 26px;
          }

          #facebook {
            color: grey;
            // color: white;
            &:hover {
              color: #3b5998;
            }
          }
          #linkedin {
            color: grey;
            // color: white;

            &:hover {
              color: #0a66c2;
            }
          }
          #github {
            color: grey;
            // color: white;

            &:hover {
              color: #24292e;
            }
          }
          #whatsapp {
            color: grey;
            // color: white;


            &:hover {
              color: #25d366;
            }
          }

          #mail {
            color: grey;
            // color: white;

            &:hover {
              color: royalblue;
            }
          }
        }
      }
    }

    .siteInfo_block {
      // align-items: center;
      line-height: 22px;
      margin-top: 5px;
      h1 {
        text-align: center;
        margin: 0;
        padding: 10px 0px;
        color: white;
      }
      p {
        margin: 0;
        // color: grey;
        color: white;

      }
    }
    .newsLetter_block {
      @include flex(flex, center, nowrap, column);
      align-items: center;
      flex: 1;
      gap: 5px;
      #h3-n {
        color: white;
        margin: 0
      }

      .email_cn {
        @include flex(flex, unset, nowrap, row);
        gap: 2px;
        .email_input {
          height: 25px;
        }
        .newsletter_btn {
          background-color: white;
          // color: red;
          min-width: fit-content;
          height: 29px;
          font-size: 15px;
          padding: 5px;

          &:hover {
            background-color: #f8f9fa;
          }
        }
      }
    }
  }
}




@media screen and (max-width:750px) {
  

  .footer {
    ont-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-top: 2px solid #e2e2e2;
    background-color: #d10024;
  
    .footerSn {
      @include flex(flex, center, wrap, row);
      padding: 10px 5px;
      gap: 10px;
      .siteDesc_block {
        @include flex(flex, center, nowrap, row);
        align-items: center;
        color: #f8f9fa;
        flex: 1;
        line-height: 24px
  
      }
      .footerIcon_block {
        @include flex(flex, center, nowrap, column);
        flex: 1;
        width: fit-content;
        align-items: center;
        // background-color: #f8f9fa;
        // background-color: black;
        // border: 2px solid #e2e2e2;
        margin: 0px auto;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
  
        .iconCn_cn {
          @include flex(flex, center, nowrap, row);
          gap: 6px;
          background-color: white;
          border-radius: 6px;
          padding: 5px;
          .links {
          @include flex(flex, center, nowrap, row);
            align-items: center;
            .footer_icon {
              font-size: 26px;
            }
  
            #facebook {
              color: grey;
              // color: white;
              &:hover {
                color: #3b5998;
              }
            }
            #linkedin {
              color: grey;
              // color: white;
  
              &:hover {
                color: #0a66c2;
              }
            }
            #github {
              color: grey;
              // color: white;
  
              &:hover {
                color: #24292e;
              }
            }
            #whatsapp {
              color: grey;
              // color: white;
  
  
              &:hover {
                color: #25d366;
              }
            }
  
            #mail {
              color: grey;
              // color: white;
  
              &:hover {
                color: royalblue;
              }
            }
          }
        }
      }
  
      .siteInfo_block {
        // align-items: center;
        line-height: 22px;
        margin-top: 5px;
        h1 {
          text-align: center;
          margin: 0;
          padding: 10px 0px;
          color: white;
        }
        p {
          margin: 0;
          // color: grey;
          color: white;
  
        }
      }
      .newsLetter_block {
        @include flex(flex, center, wrap, column);
        align-items: center;
        flex: 1;
        gap: 5px;
        #h3-n {
          color: white;
          margin: 0
        }
  
        .email_cn {
          @include flex(flex, unset, wrap, row);
          gap: 2px;
          .email_input {
            height: 25px;
          }
          .newsletter_btn {
            background-color: white;
            // color: red;
            min-width: fit-content;
            height: 29px;
            font-size: 15px;
            padding: 5px;
  
            &:hover {
              background-color: #f8f9fa;
            }
          }
        }
      }
    }
  }
  
}