@import "../../../scss_variables/variables";

.nav_div {
  @include flex(flex, center, wrap, column);
  height: 5vh;
  background-color: #3f51b5;
  color: $bg_color1;

  .navbar_container {
    @include flex(flex, unset, wrap, row);
    gap: 20px;

    .navbar_text {
      font-size: $fontSizeLarge;
    }
    .navbar_icons {
      padding-left: $paddingFive;
      // font-size: larger;
      // color: red;
      .icon_tag {
        font-size: $fontSizeLarger;
        color: $bg_color1;
      }
    }
  }
}
