PORT = 4000
SECRET =bf9fdf23668f48fc5e09e2dab367ac6ba2d67069d7e371446d9e686fc4571bb7c8a4f261a3c8cf3fa426140815aa432141e5d282938c28610f199212bd442246
DATABASE = postgresql://mamoun:9zvuiV85eYizBYapDlksmw@tech-store-6088.j77.cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full
postgres://postgres:0000@localhost:5432/e_commerce

DATABASE = postgres://rovtwgfm:XtO9RjfI8C1ooRWbS2ancWcIBaffgYJe@rosie.db.elephantsql.com/rovtwgfm
 postgresql://neondb_owner:npg_lSf13uHkZdYR@ep-white-heart-a5g4a9vk-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require