@import "../../../scss_variables/variables";

.shop {
    // margin-top: 50px;
  .inputItem_div {
    margin-top: 50px;
    @include flex(flex, center, wrap, row);
    gap: 30px;

    .filter_btn_div {
      @include flex(flex, center, wrap, row);

      .filter_btn {
        @include colorRelated(transparent, transparent, $primaryclr1);
        cursor: $pointer;
        font-size: larger;

        &:hover {
          color: $primaryclr2;
        }
      }
    }
  }

  .shopList_Container {
    .card_container {
      width: $fullWidth;
      @include flex(flex, center, wrap, row);
    }
  }
}
