header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e2e2e2;
}
header .header_links_cn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  max-width: 1370px;
  margin-left: 5%;
  margin-right: 0%;
}
header .header_links_cn .Link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
header .header_links_cn .siteName_nav {
  flex: 1;
}
header .header_links_cn .siteName_nav .siteName_Link p {
  color: #d10024;
}
header .header_links_cn .siteName_nav .siteName_Link p::first-letter {
  font-size: 26px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  color: black;
}
header .header_links_cn .main_nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  flex: 1;
  font-family: "Josefin Sans", sans-serif;
}
header .header_links_cn .page_nav_div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  flex: 1;
}
header .header_links_cn .page_nav_div .tags_nav2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
header .header_links_cn .page_nav_div .tags_nav2 .Link {
  font-size: smaller;
  color: grey;
}
header .header_links_cn .page_nav_div .tags_nav3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
header .header_links_cn .page_nav_div .tags_nav3 .fav_btn {
  padding: 0;
}
header .header_links_cn .page_nav_div .tags_nav3 .link-icon {
  position: relative;
}
header .header_links_cn .page_nav_div .tags_nav3 .link-icon .personal_items_icon path {
  fill: grey;
}
header .header_links_cn .page_nav_div .tags_nav3 .link-icon .count_icon {
  position: absolute;
  top: -10px;
  right: -11px;
  background: #ed0727;
  /* padding: 3px; */
  border-radius: 50%;
  height: 18px;
  width: 18px;
  color: white;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
}
header .header_links_cn .page_nav_div .tags_nav3 .link-icon svg {
  font-size: x-large;
}

@media screen and (max-width: 1324px) {
  header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e2e2e2;
  }
  header .header_links_cn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  header .header_links_cn .Link {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  header .header_links_cn .siteName_nav .siteName_Link p {
    color: #d10024;
  }
  header .header_links_cn .siteName_nav .siteName_Link p::first-letter {
    font-size: 26px;
    font-weight: 700;
    font-family: "Courier New", Courier, monospace;
  }
  header .header_links_cn .main_nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    font-family: "Josefin Sans", sans-serif;
  }
  header .header_links_cn .page_nav_div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
  }
  header .header_links_cn .page_nav_div .tags_nav2 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  header .header_links_cn .page_nav_div .tags_nav2 .Link {
    font-size: smaller;
    color: grey;
  }
  header .header_links_cn .page_nav_div .tags_nav3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  header .header_links_cn .page_nav_div .tags_nav3 .fav_btn {
    padding: 0;
  }
  header .header_links_cn .page_nav_div .tags_nav3 .link-icon {
    position: relative;
  }
  header .header_links_cn .page_nav_div .tags_nav3 .link-icon .count_icon {
    position: absolute;
    top: -10px;
    right: -11px;
    background: #ed0727;
    /* padding: 3px; */
    border-radius: 50%;
    height: 18px;
    width: 18px;
    color: white;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
  }
  header .header_links_cn .page_nav_div .tags_nav3 .link-icon svg {
    color: grey;
    stroke-width: 1;
    font-size: x-large;
  }
}
@media screen and (max-width: 650px) {
  header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e2e2e2;
  }
  header .header_links_cn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  header .header_links_cn .Link {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
  header .header_links_cn .siteName_nav .siteName_Link p {
    color: #d10024;
  }
  header .header_links_cn .siteName_nav .siteName_Link p::first-letter {
    font-size: 26px;
    font-weight: 700;
    font-family: "Courier New", Courier, monospace;
  }
  header .header_links_cn .main_nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    font-family: "Josefin Sans", sans-serif;
  }
  header .header_links_cn .page_nav_div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
  }
  header .header_links_cn .page_nav_div .tags_nav2 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  header .header_links_cn .page_nav_div .tags_nav2 .Link {
    font-size: smaller;
    color: grey;
  }
  header .header_links_cn .page_nav_div .tags_nav3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  header .header_links_cn .page_nav_div .tags_nav3 .fav_btn {
    padding: 0;
  }
  header .header_links_cn .page_nav_div .tags_nav3 .link-icon {
    position: relative;
  }
  header .header_links_cn .page_nav_div .tags_nav3 .link-icon .count_icon {
    position: absolute;
    top: -10px;
    right: -11px;
    background: #ed0727;
    /* padding: 3px; */
    border-radius: 50%;
    height: 18px;
    width: 18px;
    color: white;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
  }
  header .header_links_cn .page_nav_div .tags_nav3 .link-icon svg {
    color: grey;
    stroke-width: 1;
    font-size: x-large;
  }
}/*# sourceMappingURL=header.css.map */