
@import "../../../scss_variables/variables";

.ProfilePg {
  @include flex(flex, center, wrap, row);
  // max-width: 1024px;
  .profile_pic_section {
    @include flex(flex, flex-start, wrap, column);
    align-content: center;
    flex: 1;
    padding: 100px 10px;

    .profile_pic_cn {
      .profile_pic_div {
        width: 220px;
        height: 200px;
        text-align: center;
        position: relative;
        .profile_pic {
          width: 220px;
          height: 200px;
        }

        .img_upload_div {
          position: absolute;
          top: 0;
          z-index: 22;
          width: 100%;
          height: 100%;
       
          &:hover{
            backdrop-filter: blur(2px);
            background-color: #3333335c;


            .img_change_lbl{
              visibility: visible;
              cursor: pointer;
            }

          }
          .img_change_lbl {
            @include flex(flex, center, wrap, row);
            height: 100%;
            color: white;
            font-size: x-small;
            align-items: center;
            gap: 3px;
            visibility: collapse;

            &:hover{

            }
            .cmr_icon{
                font-size: x-small;
            }
          }
        }
      }

      .user_dt{
        text-align: center;
      }
      #user_dt_p1{
        font-weight: 600;
      }

      #user_dt_p3{
        color: grey
      }
    }

    .ud_profile_pic_btn{
      @include flex(flex, center, wrap, row);
      align-items: center;
      background-color:#d10024;
      color: white;
      padding: 5px;
      gap: 4px;
      border-radius: 15px 0px 15px 0px;
      margin-top: 5px;
      font-size: medium;
      &:hover {
        background-color: #bb0221;
      }
      .icon{
        font-size: medium;
        // visibility: collapse;
        animation: rotateIcon 3s infinite;
      }

      @keyframes rotateIcon {
        0% {
          rotate: (0);
        }
        25% {
          rotate: (90deg);
        }
        50% {
          rotate: (180deg);
        }
        90% {
          rotate: (360deg);
        }
        100% {
          display: none;
        }
      }
    
      .load_icon{
        visibility: visible;
      }
    }

  }
  .profile_details_section {
    flex: 1.5;

    padding: 20px 0px 50px;
    // border-bottom: 1px solid ;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    .profile_details_cn {
      @include flex(flex, space-between, nowrap, column);
      padding: 0 20px;
      height: 100%;
      .input_ct {
        @include flex(flex, flex-start, nowrap, column);
        padding: 10px 0;
      }
      input,
      select {
        height: 20px;
        // margin: 5px 0px
        padding: 5px;
        color: #333;
        outline: 1px solid transparent;
        border: 1px solid #e3e5e7;
        background-color: #f8f9fa;
        color: rgb(0 0 0 / 49%);
        &:focus {
          background-color: white;
          color: black;
        }
      }

      select {
        height: 30px;
        // margin: 5px 0px
      }
      label {
        padding-bottom: 5px;
        color: #333;
      }

      .profile_name_input_cn {
        @include flex(flex, space-between, nowrap, row);
        gap: 20px;
        .input_cn {
          width: 50%;
        }
      }
      .ud_btn {
        width: 100%;
        background-color: #d10024;
        color: white;
        height: 35px;
        margin: 10px 0;
        border-radius: 5px;
        font-size: medium;
        &:hover {
          background-color: #bb0221;
        }

        .details_change_icon{
          animation: rotateIcon 3s infinite;
        }
        @keyframes rotateIcon {
          0% {
            rotate: (0);
          }
          25% {
            rotate: (90deg);
          }
          50% {
            rotate: (180deg);
          }
          90% {
            rotate: (360deg);
          }
          100% {
            display: none;
          }
        }
        
      }
    }
  }
  .display_adds_section {
    flex: 1;
    .add_display_cn{
      text-align: center;
      color: rgba(0, 0, 0, 0.467);
      margin-top: 40px;
    }
  }
}


@media screen and (max-width:400px) {
  .ProfilePg {
    @include flex(flex, center, wrap, column);
    // max-width: 1024px;
    .profile_pic_section {
      @include flex(flex, flex-start, wrap, column);
      align-content: center;
      flex: 1;
      padding: 100px 10px;
  
      .profile_pic_cn {
        .profile_pic_div {
          width: 100%;
          height: 200px;
          text-align: center;
          position: relative;
          .profile_pic {
            width: 100%;
            height: 200px;
          }
  
          .img_upload_div {
            position: absolute;
            top: 0;
            z-index: 22;
            width: 100%;
            height: 100%;
         
            &:hover{
              backdrop-filter: blur(2px);
              background-color: #3333335c;
  
  
              .img_change_lbl{
                visibility: visible;
                cursor: pointer;
              }
  
            }
            .img_change_lbl {
              @include flex(flex, center, wrap, row);
              height: 100%;
              color: white;
              font-size: x-small;
              align-items: center;
              gap: 3px;
              visibility: collapse;
  
              &:hover{
  
              }
              .cmr_icon{
                  font-size: x-small;
              }
            }
          }
        }
  
        .user_dt{
          text-align: center;
        }
        #user_dt_p1{
          font-weight: 600;
        }
  
        #user_dt_p3{
          color: grey
        }
      }
  
      .ud_profile_pic_btn{
        @include flex(flex, center, wrap, row);
        align-items: center;
        background-color:#d10024;
        color: white;
        padding: 5px;
        gap: 4px;
        border-radius: 15px 0px 15px 0px;
        margin-top: 5px;
        font-size: medium;
        &:hover {
          background-color: #bb0221;
        }
        .icon{
          font-size: medium;
          // visibility: collapse;
          animation: rotateIcon 3s infinite;
        }
  
        @keyframes rotateIcon {
          0% {
            rotate: (0);
          }
          25% {
            rotate: (90deg);
          }
          50% {
            rotate: (180deg);
          }
          90% {
            rotate: (360deg);
          }
          100% {
            display: none;
          }
        }
      
        .load_icon{
          visibility: visible;
        }
      }
  
    }
    .profile_details_section {
      flex: 1.5;
  
      padding: 20px 0px 50px;
      // border-bottom: 1px solid ;
      border-right: 1px solid #e2e2e2;
      border-left: 1px solid #e2e2e2;
      .profile_details_cn {
        @include flex(flex, space-between, nowrap, column);
        padding: 0 20px;
        height: 100%;
        .input_ct {
          @include flex(flex, flex-start, nowrap, column);
          padding: 10px 0;
        }
        input,
        select {
          height: 20px;
          // margin: 5px 0px
          padding: 5px;
          color: #333;
          outline: 1px solid transparent;
          border: 1px solid #e3e5e7;
          background-color: #f8f9fa;
          color: rgb(0 0 0 / 49%);
          &:focus {
            background-color: white;
            color: black;
          }
        }
  
        select {
          height: 30px;
          // margin: 5px 0px
        }
        label {
          padding-bottom: 5px;
          color: #333;
        }
  
        .profile_name_input_cn {
          @include flex(flex, space-between, nowrap, column);
          gap: 20px;
          .input_cn {
            width: 100%;
          }
        }
        .ud_btn {
          width: 100%;
          background-color: #d10024;
          color: white;
          height: 35px;
          margin: 10px 0;
          border-radius: 5px;
          font-size: medium;
          &:hover {
            background-color: #bb0221;
          }
  
          .details_change_icon{
            animation: rotateIcon 3s infinite;
          }
          @keyframes rotateIcon {
            0% {
              rotate: (0);
            }
            25% {
              rotate: (90deg);
            }
            50% {
              rotate: (180deg);
            }
            90% {
              rotate: (360deg);
            }
            100% {
              display: none;
            }
          }
          
        }
      }
    }
    .display_adds_section {
      flex: 1;
      .add_display_cn{
        text-align: center;
        color: rgba(0, 0, 0, 0.467);
        margin-top: 40px;
      }
    }
  }
  
}